@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: url(images/Planet-XGif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    color: #fff;
    padding: 0 8%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo{
    width: 160px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.hero h1{
    font-size:65px;
    margin-top: 12%;
}

.hero button{
    background: #393939;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: #fff;
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor:pointer;
}

.indicator span{
    display: inline-block;
    background: #3a3a3a;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.indicator{
    margin-top: 150px;
}

.indicator span .active{
    background: #bfbfbf;
}

.hero .cta{
    position: absolute;
    width: 25%;
    min-width: 250px;
    right: 8%;
    bottom: 100px;
}

.cta .mars{
    cursor: progress !important;
}


@media(max-width:550px){

    .hero{
        background-position: right;
    }

    .hero h1{
        font-size:35px;
        margin-top: 12%;
    }

    .cta{
        display: none;
    }

    .indicator{
        margin-top: 40px;
    }

    .hero button{
        margin-top: 60px;
    }
}

@media(min-width:550px) and (max-width:650px){

    .hero{
        background-position: right;
    }

    .hero h1{
        font-size:45px;
        margin-top: 12%;
    }

    .hero .cta p{
        margin-top: 150px;
        font-size: medium;
    }

    .hero .cta{
        position: absolute;
        width: 25%;
        min-width: 250px;
        right: 8%;
        bottom: 50px;
    }

    .indicator{
        margin-top: 50px;
    }

    .hero button{
        margin-top: 50px;
    }
}